/* Card.css */

/* Container for the cards */
.card-container {
    display: flex;
    flex-wrap: wrap; 
    gap: 3vh; 
    justify-content: center; 
    padding-top: 10vh;
}

/* Card styling */
.main-card {
    cursor: pointer;
    border: none;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    background-color: #a5a58d !important;
    transition: transform 0.2s ease-in-out;
    max-width: 25vh;
}

/* Hover effect */
.main-card:hover {
    transform: scale(1.05);
    z-index: 1;
}

.card-image {
    width: 100%;
    height: 25vh;
    border-radius: 8px;
    margin-top: -3px;
    margin-bottom: 0; 
    padding: 0; 
    object-fit: cover;
}

.main-card h2 {
    text-align: center;
    font-size: 1em;
    margin: 8px 0;
    color: black;
    font-weight: bold;
}

.main-card p {
    text-align: center;
    color: black;
    font-size: 0.9em;
    margin: 4px 0;
}

.main-card .distance {
    font-size: 0.9em;
}

/* Media queries for responsive layout */
@media (min-width: 1200px) {
    .card-container {
        justify-content: space-evenly; /* Even spacing on large screens */
    }

    .main-card {
        flex: 0 0 22%; /* 4 cards per row on large screens */
    }
}

@media (max-width: 991px) {
    .main-card {
        flex: 0 0 48%; /* 2 cards per row on medium screens (e.g., tablets) */
    }
}

@media (max-width: 768px) {
    .card-container {
        padding-top: 15vh;
    }
    .card-image {
        max-width: 100%;
        height: 40vw;
    }
    .main-card {
        max-width: 40vw;
    }
}

@media (max-width: 576px) {
    .main-card {
        flex: 0 0 98%; /* 1 card per row on small screens (e.g., mobile) */
    }
}


