<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src='https://api.mapbox.com/mapbox-gl-js/v3.8.0/mapbox-gl.js'></script>
    <link href='https://api.mapbox.com/mapbox-gl-js/v3.8.0/mapbox-gl.css' rel='stylesheet' />
    <title>Document</title>
</head>
<body>
    <h1>Django Home</h1>
    <div id='map' style='width: 100%; height: 600px;'></div>
    <script>
    mapboxgl.accessToken = '{{ token }}';
    const map = new mapboxgl.Map({
        container: 'map', // container ID
        style: 'mapbox://styles/mapbox/streets-v12', // style URL
        center: [-74.5, 40], // starting position [lng, lat]
        zoom: 9, // starting zoom
    });

    const addresses = JSON.parse('{{ addresses|escapejs }}');

    // Add markers for each address
    addresses.forEach(addr => {
        if (addr.lat && addr.lon) {
            new mapboxgl.Marker()
                .setLngLat([addr.lon, addr.lat])
                .addTo(map);
        }
    });

</script>
</body>
</html>