@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');


body, html, #root {
  background-color: #c8c2b479 ; 
  min-height: 100vh;
  font-family: 'Lato', sans-serif; 
}

.auth-page-body {
  background-image: url('http://127.0.0.1:8000/media/project_images/LoadImage.jpg'); /* Replace with your auth page background */
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

#root {
  background-color: #c8c2b479;
  padding: 7vh 3vw 0 3vw;
}


@media (max-height: 700px) {
  html {
      padding: 8vh 2vw;
  }
}