  
  .profile-container {
    display: flex;
    justify-content: center;
    min-height: 100vh;
    background-color: transparent;
    padding: 20px;
  }
  
  /* Card Styles */
  .profile-card {
    background: #857255;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    height: 80vh;
    max-width: 400px;
    text-align: center;
    padding: 20px;
}

  
  /* Header Styles */
  .profile-header {
    margin-bottom: 20px;
  }
  
  .profile-picture {
    width: 30vh;
    height: 30vh;
    border-radius: 50%;
    object-fit: cover;
    border: 3px solid #567a57;
  }
  
  /* Details Styles */
  .profile-details {
    text-align: left;
  }
  
  .profile-name {
    font-size: 24px;
    font-weight: bold;
    color: #273328;
    margin: 0;
  }
  
  .profile-email {
    font-size: 16px;
    color: #000000;
    margin: 10px 0;
  }
  
  .profile-bio {
    font-size: 14px;
    margin: 15px 0;
    color: #2b2626;
  }
  
  .profile-address {
    font-size: 14px;
    margin-top: 10px;
    color: #2b2626;
  }
  
  .profile-address strong {
    color: #273328;
  }
  
  /* Responsive Design */
  @media (max-width: 600px) {
    .profile-card {
      padding: 15px;
    }
  
    .profile-picture {
      width: 100px;
      height: 100px;
    }
  
    .profile-name {
      font-size: 20px;
    }
  
    .profile-email, .profile-bio, .profile-address {
      font-size: 12px;
    }
  }
  