  
  .admin-portal-page {
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
    padding: 8vh 5vh;
  }
  

  
  .join-requests {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
  }
  
  .join-request-card {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: left;
  }
  
  .join-request-card p {
    margin: 10px 0;
  }
  
  .actions {
    margin-top: 10px;
  }
  
  .actions button {
    background-color: #6b705c;
    color: #fff;
    border: none;
    padding: 10px 15px;
    font-size: 1rem;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 10px;
    transition: background-color 0.3s ease;
  }
  
  .actions button:hover {
    background-color: #a5a58d;
  }
  
  .error {
    color: #c53030;
    font-size: 1.2rem;
    margin-top: 20px;
  }
  