.post-image {
    width: 100%;
    display: flex;
    max-height: 20vh;
    margin-bottom: 3vh;
}


.user-div {
    display: flex;
    align-items: center;
    margin-bottom: 3vh;
}

.user-image {
    height: 5vh;
    width: 5vh;
    border-radius: 50%;
    margin-right: 2vh;
}

.link-style {
    text-decoration: none; /* Removes the underline */
    color: inherit; /* Inherits the color from the parent */
}

.link-style:hover {
    text-decoration: none; /* Ensures no underline appears on hover */
}