.post-image {
    display: flex;
    height: 30vh;
    width: 40vh;
    margin-bottom: 3vh;
    border-radius: 5vh;
    object-fit: cover;
}

.profile-save-container {
  display: flex;
  cursor: pointer;
}

.user-div {
    display: inline-flex;
    align-items: center;
    margin-bottom: 3vh;
    padding: 1vh;
    border-radius: 4vh;
    transition: box-shadow 0.3s ease;
}

.user-div:hover {
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2); 
}

.user-image {
    height: 5vh;
    width: 5vh;
    border-radius: 50%;
    margin-right: 2vh;
}

.link-style {
    text-decoration: none; /* Removes the underline */
    color: inherit; /* Inherits the color from the parent */
}

.link-style:hover {
    text-decoration: none; /* Ensures no underline appears on hover */
}

.save-post-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  margin: 2vh 0 0 1vh;
}

.saved-icon {
  color: #ada052;
  height: 1.5rem;
  width: 1.5rem;
}

.unsaved-icon {
  color: black;
  height: 1.5rem;
  width: 1.5rem;
}

.info-container {
    background-color: #96a38c; 
    border: 1px solid #96a38cb2; 
    border-radius: 8px; 
    padding: 16px; 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
    font-family: 'Arial', sans-serif; 
    max-width: 400px; 
  }
  
  .info-container p {
    margin: 8px 0; /* Spacing between paragraphs */
    line-height: 1.5; /* Improved readability */
    color: #333; /* Dark gray text for good contrast */
  }
  
  .info-container strong {
    color: #344429; /* Accent color for labels */
  }
  
  .info-container p:last-child {
    font-weight: bold; /* Highlight the last piece of info */
  }
  