.page {
    display: flex;
    justify-content: center;
    height: 70vh;
    padding-top: 20vh;
}

.container {
    max-width: 35vw !important;
    max-height: 35vh !important;
    align-items: center;
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 0;
}

.buttons-container {
    display: flex;
    justify-content: space-around;
}

.button {
    margin-right: 10vh;
    background-color: rgb(70, 75, 43) !important;
    border: none !important;
    border-radius: 3vh !important;
    color: white;
}


.signup-link {
    color: black;
    font-size: 1.2rem;
}

@media (max-width: 800px) {
    .container {
        max-width: 80vw !important;
    }

    .button {
        margin-right: 5vh;
    }
}