.input-group {
    border-color: brown !important;
}


.search-bar {
    background-color: #a8aa93;
}

.search-button {
    background-color: #5e653e !important;
    border: none;
}

.custom-card {
    width: 250px !important;
}
