.custom-navbar {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #9B9E87;
    height: 6vh;
}

.dropdown-menu {
    background-color: #9B9E87 !important;
}

.dropdown-item:hover {
    background-color: #6b6d5c !important;
}

.custom-navbar .navbar-brand,
.custom-navbar .nav-link,
.custom-navbar .dropdown-item {
    color: black !important;
    background-color: #9B9E87; 
    padding: 0;
}




.nav-links {
    display: flex;
    align-items: center;
    gap: 1.5rem; 
}

.nav-right {
    display: flex;
    align-items: center;
    gap: 1rem; 
}



#profile-picture {
    height: 4vh;
    width: 4vh;
    border-radius: 50%;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2); 
    transition: 
    box-shadow 0.3s ease, 
    height 0.3s ease, 
    width 0.3s ease, 
    margin-right 0.3s ease;
}

#profile-picture:hover {
    height: 5vh;
    width: 5vh;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.3);
    margin-right: -1vh;
}

@media (max-height: 700px) {
    .custom-navbar {
        height: 8vh;
    }
}