/* General layout */
.profile-page {
    font-family: Arial, sans-serif;
    padding: 20px;
    max-width: 80vw;
    margin: 0 auto;
  }
  
  
  .form-group {
    margin-bottom: 1rem;
    display: flex;
  }

  .file-input {
    display: none;
  }
  
  .upload-label {
    display: inline-flex;
    align-items: center;
    background-color: transparent;
    cursor: pointer;
    color: black;
    padding: 1vh;
    border-radius: 50%;
    height: 6vh;
    width: 6vh;
    font-size: 1rem;
    transition: background-color 0.3s ease;
  }
  
  label {
    font-weight: bold;
    display: block;
    margin-bottom: 0.5rem;
  }

  .value-field {
    margin-left: 1vh;
    background-color: rgba(158, 146, 123, 0.39);
    border: lightgray solid 2px;
    border-radius: 1vh;
    padding: 1vh;
    margin-top: -0.75vh;
  }
  
  input[type="text"],
  input[type="password"],
  input[type="file"] {
    width: 100%;
    padding: 8px;
    margin-top: 0.5rem;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 1rem;
  }
  
  input[type="file"] {
    padding: 5px;
  }
  
  p {
    font-size: 1rem;
    color: #333;
  }
  
  /* Profile picture styling */
  .profile-picture-page {
    width: 25vh;
    height: 25vh;
    border-radius: 50%;
    object-fit: cover;
  }
  
  /* Buttons */
  button {
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.3s ease;
  }
  
  button:hover {
    opacity: 0.8;
  }
  
  .pencil-button {
    background-color: transparent;
    cursor: pointer;
    color: black;
    font-weight: bold;
    border-radius: 50%;
    font-size: 1rem;
    transition: background-color 0.3s ease;
  }
  
  .edit-button:hover {
    background-color: #9B9E87;
  }
  
  .submit-button {
    background-color: #5e653e;
    color: white;
    border-radius: 1vh;
  }
  
  .submit-button:hover {
    background-color: #56583c;

  }
  
  #delete-button {
    background-color: transparent;
    color: red;
    border: 1px solid red;
  }
  
  #delete-button:hover {
    background-color: red;
    color: white;
  }
  
  /* Error message */
  .error {
    color: red;
    font-size: 0.9rem;
    margin-top: 1rem;
  }
  
  /* Upload section */
  .upload-section {
    display: flex;
    justify-content: start;
    padding-left: 20vh;
    margin-top: -5vh;
    margin-bottom: 8vh;
  }
  
  .upload-section input[type="file"] {
    border: 1px solid #ddd;
    padding: 5px;
    font-size: 1rem;
  }
  

  .change-password-input {
    background-color: rgba(158, 146, 123, 0.39);
  }