
.form-container {
  display: flex;
  margin-top: 5vmin;
  justify-content: center;
  background-color: wheat;
  border-radius: 3vmin;
  margin: 3vmin 3vmin 3vmin 3vmin
}

.rows {
  margin-bottom: 2vmin;
}

.check-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

form {
  width: 100vmin;
  margin: 3vmin 5vmin;
}

#inputGroupAppend {
  background-color: rgb(80, 117, 80);
}



.button-container {
  display: flex;
  justify-content: center;
  width: 100%;
}

.button {
  background-color: rgb(80, 117, 80);
  color: white;
  border: none;
  border-radius: 1vmin;
  height: 4vmin;
  width: 20vmin;
}

.return-container {
  display: flex;
  flex-direction: column;
}

.carousel-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.carousel {
  display: flex;
  padding: 5vmin;
  background-color: lightblue;
  margin: 3vmin;
  border-radius: 3vmin;
  width: 80vmin;
}



.cards {
  width: 50vmin;
  height: 80vmin;
  margin: auto;
  border-radius: 2vmin;
}

.card-bodies {
  background-color: lightyellow;
}
