body, html, #root {
  background-color: #c8c2b479 ; 
  min-height: 100vh;
}


html {
  background-color: #c8c2b479;
  padding: 7vh 3vw;
}


@media (max-height: 700px) {
  html {
      padding: 8vh 2vw;
  }
}